@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    text-align: justify;
    margin: 0px;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background:  var(--roxo-medio);
    min-height: 100vh;
}

:root {
    /* familia roxo */
    --rosa-claro: #e3ceff;
    --roxo-medio: #430F8C;
    --roxo-escuro: #150140;
    --roxo-claro: #591ED9;
    --roxo-muito-escuro: #100626;
    
    /* complementares */
    --roxa-vinho: #A62461;
    --vinho: #8C2354;
    --azul-claro: #8BBBD9;
    --azul-morto: #486773;
    --preto: #0D0D0D;

    /* grandintes */
    --fundo: linear-gradient(45deg, #591ED9, #8C2354)
}

/* class */
.backgroud {
    background: var(--rosa-claro);
}

.conteiner {
    max-width: 1440px;
    padding-left: 30px;
    margin: 0 auto;
}

.logo a {
    font: bold normal 30px "Poppins";
    color: var(--roxo-escuro);
    padding: 0 5%;

}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}
.ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.ul li {
    padding: 0 20px;
    font-size: 1.1em;
}

.ul li a:hover {
    background: #150140;
    padding: 4px 15px;
    border-radius: 10px;
    color: var(--rosa-claro);
    transition: 0.3s;
}

.ul li a {
    color: var(--roxo-escuro);
}


.btn {
    cursor: pointer;
    background: var(--roxo-claro);
    color: var(--roxo-escuro);
    padding: 10px 30px;
    border-radius: 10px;
    transition: 0.3s;
    border: none;
}

.btn:hover {
    color: var(--rosa-claro);
    background: var(--roxo-escuro);
}